/* start */

/* hero */
.hero {
    min-height: 45vh;
    background-image: url(../Images/restaurant-bg.jpg);
    position: static;
    row-gap: 10px;
}
.title {
    font-size: 50px;
}
/* bread crump */
.bread-crump {
    font-family: 'vollkorn';
    font-size: 14px;
}
.bread-crump .text-link {
    text-transform: capitalize;
}
.bread-crump span {
    text-transform: uppercase;
}
/* main column */
.main-column {
    background-color: var(--secondary-color-dark);
    display: flex;
    column-gap: 7%;
}
/* main content */
.main-content {
    width: 73%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.column-img {
    width: 100%;
}
.article-content {
    row-gap: 23px;
}
.text-blockquote {
    padding: 15px 0 15px 10px;
    margin-left: 21px;
    border-left: 5px solid var(--primary-color);
    font-style: italic;
    font-size: 14px;
}
/* form */
.form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 10px;
}
.form-item {
    padding: 13px 15px;
    border: 1px solid #5d646b;
    background-color: transparent;
    flex-grow: 1;
    caret-color: white;
    color: inherit;
}
textarea ,
[type='submit'] {
    width: 100%;
}
[type='submit'] {
    padding: 13px 15px;
    margin-top: 12px;
}
.form-item::placeholder {
    text-transform: capitalize;
    font-family: 'vollkorn';
    color: white;
}
.form-item:focus {
    border-color: transparent;
}
/* sidebar */
.sidebar {
    width: 27%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
/* search-panel */
.search-panel {
    border: 1px solid #aeb6bd;
    display: flex;
}
input[type='search'] {
    width: 100%;
    flex-grow: 1;
    padding: 17px;
    background-color: transparent;
    border: unset;
    caret-color: white;
    font-family: 'vollkorn';
    color: white;
}
input[type='search']::placeholder {
    color: white;
    text-transform: capitalize;
    font-family: 'vollkorn';
}
.search-btn {
    padding: 17px;
    background-color: black;
    cursor: pointer;
    transition-duration: 0.3s;
}
.search-btn:hover {
    background-color: var(--primary-color);
}
/* tab */
.tab {
    border: 1px solid #aeb6bd;
    background-color: var(--secondary-color-darker);
}
.tab-nav {
    display: flex;
    border-top: 3px solid var(--primary-color);
}
.nav-link {
    width: 50%;
    padding: 13px 0;
    background-color: transparent !important;
    border: unset;
    text-align: center;
    font-size: 18px;
    color: var(--primary-color);
}
.nav-link:nth-child(odd){
    border-right: 1px solid #aeb6bd;
}
.tab-list {
    display: none;
    opacity: 0;
    transition-duration: 0.3s;
}
.tab-item {
    display: flex;
    padding: 20px 13px;
    column-gap: 12px;
}
.tab-item:not(:last-child) {
    border-bottom: 1px solid #aeb6bd;
}
.tab-item .text-link {
    font-family: 'vollkorn';
    text-transform: uppercase;
    font-size: 14px;
}
.item-img {
    width: 50px;
    height: 45px;
}
/* aside */
.aside {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
/* product */
.product {
    border: 1px solid #aeb6bd;
}
.product-img {
    width: 100%;
}
.product-content {
    padding: 20px 15px 25px;
}
/* archives */
.archive-item {
    padding: 13px 0;
    font-family: 'vollkorn';
    font-size: 16px;
    border-bottom: 1px solid #aeb6bd;
}
.archive-item [class^='icon-'] {
    margin-right: 5px;
    font-size: 10px;
}
/* tweets */
.tweets {
    max-width: 100%;
    height: 980px;
}
.tweets::-webkit-scrollbar {
    display: none;
    background-color: red;
}
/* categories */
.tagcloude {
    display: inline-block;
    padding: 5px 8px;
    margin-top: 3px;
    border: 1px solid var(--primary-color);
    font: 15px 'vollkorn';
    text-transform: capitalize;
    transition-duration: 0.4s;
}
.tagcloude:hover {
    background-color: var(--primary-color);
}

/* Responsive */
@media (max-width:1024px){
    .hero {
        padding-top: 150px;
    }
}

@media (max-width:1200px) and (min-width:1024px){
    .main-column {
        flex-direction: column;
        row-gap: 50px;
    }
    .main-content ,
    .sidebar {
        width: 100%;
    }
    .product {
        align-self: flex-start;
    }
}

@media (max-width:768px){
    .title {
        font-size: 45px;
    }
    .main-column {
        flex-direction: column;
        row-gap: 50px;
    }
    .main-content ,
    .sidebar {
        width: 100%;
    }
    .product {
        align-self: flex-start;
    }
}

@media (max-width:600px){
    .title {
        font-size: 40px;
    }
}

@media (max-width:426px){
    .title {
        font-size: 36px;
    }
}
